{% extends 'baseforms.html' %} {% block content %}

<h3>Add Question</h3>
<div class="row">
    <form action="{{ url_for('insert_task') }}" method="POST"  class="col s12">
        <div class="row">
<!--Select Course originally labelled select category feature and still uses category db structure-->
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Course</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Select The Course Associated With This Query</label>
                </div>
<!--Select Module-->
                 <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="module" name="module_name">
                  <option value="" disabled selected>Choose Module</option>
                  {% for module in module %}
                      <option value="{{module.module_name}}">{{module.module_name}}</option>
                  {% endfor %}
                </select>
                    <label>Select The Module Associated With The Course</label>
                </div>
<!--Select Unit-->
                 <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="unit" name="unit_name">
                  <option value="" disabled selected>Choose Unit</option>
                  {% for unit in unit %}
                      <option value="{{unit.unit_name}}">{{unit.unit_name}}</option>
                  {% endfor %}
                </select>
                    <label>Select The Unit Associated With The Module</label>
                </div>
<!--Add Subject-->
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="task_name" name="task_name" type="text">
                <label for="icon_prefix">Ask Question... Make Sure To Select The Course, Module and Unit From Picklists Above.</label>
            </div>
        </div>
<!--Add Question-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Supply Answer... If Including Code Snippets, Include Where It Is Placed</label>
            </div>
        </div>
<!--add due date-->
        <div class="row">
            <div class="input-field col s12" id="matfix">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">Select Due Date... If Question Is Time Sensitive and Activate "Is Urgent" Switch Below, Otherwise Leave Blank</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}